body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f1f5f9;
}

.search-container{
  text-align: center;
  margin-bottom: 20px;
}

input{
  padding: 10px;
  width: 60%;
  border-radius: 6px;
  border: 1px solid #aaa;
}

button{
  padding: 10px 15px;
  background: #0366d6;
  color: white;
  border: none;
  border-radius: 6px;
}

.hidden{
  display: none;
}

.profile-card{
  display: flex;
  flex-direction: column;
  background: white;
  padding: 15px;
  border-radius: 12px;
  max-width: 400px;
  margin: auto;
}

.profile-card img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
  margin: auto;
}

.stats{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.repo{
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
}

/* Responsive */
@media (max-width: 600px){
  input{
    width: 100%;
  }
}
